html, body {
    background-color: lightgray;
}
p {
    color: blue;
}
.highlight {
    border: 1px red solid;
}
button[data-type="primary"] {
    background-color: green;
}
#title{
    font-size: 24px
}
li,ul{
    margin-top: 20px;
}
div > p {
    background-color: yellow;
}

/* id>class>etiquetas */